:root {
    --header-height: 200px; /* Definierar en CSS-variabel för headerns höjd */
}

.home-container {
    max-width: 100%;
    
    margin-top: var(--header-height); /* Tar hänsyn till headerns höjd */
    padding: 20px;
    text-align: center;
}